@import "../styles/media-queries.scss";
.socialMediaParent {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  &.fadein {
    animation: fadein 0.5s ease forwards;
  }
  &.fadeout {
    animation: fadeout 0.5s ease forwards;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// Extra keyframe because Chrome doesn't like running the same keyframes
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.closeThis {
  user-select: none;
  color: white;
  font-size: 5em;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.badges {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: center;
  justify-content: center;
}

@include moblie {
  .badges {
    padding-top: 40%;
    grid-template-columns: repeat(2, 1fr);
  }
  .badgeIcon,
  .badgeLabel {
    width: 80px !important;
  }
}

@include tablet {
  .badgeIcon,
  .badgeLabel {
    width: 80px !important;
  }
}

.badge {
  margin-left: 1em;
  margin-right: 1em;
  padding: 0.75rem;
}

.badgeIcon {
  cursor: pointer;
  width: 120px;
  height: auto;
  * img {
    border-radius: 5%;
  }
}
.badgeLabel {
  color: white;
  width: 120px;
  text-align: center;
}
